[Unit]
Description=Set up VNC server for met to be displayed on remote hosts
After=network.target

[Service]
Type=simple
Restart=always
ExecStart=tigervncserver -localhost no :0 -geometry 656x416 -fg
User=tconnors
Group=tconnors
WorkingDirectory=/home/tconnors

[Install]
Alias=met-vncserver.service
WantedBy=multi-user.target
