[submodule "files/etc_bash-git-prompt"]
	path = files/etc_bash-git-prompt
	url = https://github.com/spacelama/bash-git-prompt
	branch = timeout

[submodule "files/homes.desktop/elisp/grip-mode"]
	path = files/homes.desktop/elisp/grip-mode
	url = https://github.com/spacelama/grip-mode

[submodule "files/homes.desktop/elisp/undo-tree"]
	path = files/homes.desktop/elisp/undo-tree
	url = https://gitlab.com/tsc25/undo-tree.git
[submodule "repos/arcstat"]
	path = repos/arcstat
	url = git@github.com:spacelama/arcstat
[submodule "repos/ceph-nagios-plugins"]
	path = repos/ceph-nagios-plugins
	url = https://github.com/valerytschopp/ceph-nagios-plugins
[submodule "repos/munin"]
	path = repos/munin
	url = git@github.com:spacelama/munin.git
[submodule "repos/munin-contrib"]
	path = repos/munin-contrib
	url = git@github.com:spacelama/munin-contrib.git
[submodule "repos/munin-smart-nvme"]
	path = repos/munin-smart-nvme
	url = https://github.com/spacelama/munin-smart-nvme
[submodule "files/homes.desktop/elisp/burly.el"]
	path = files/homes.desktop/elisp/burly.el
	url = https://github.com/alphapapa/burly.el
[submodule "files/homes.desktop/elisp/activities.el"]
	path = files/homes.desktop/elisp/activities.el
	url = https://github.com/alphapapa/activities.
