[submodule "files/etc_bash-git-prompt"]
	path = files/etc_bash-git-prompt
	url = https://github.com/spacelama/bash-git-prompt
	branch = timeout

[submodule "files/homes.desktop/elisp/grip-mode"]
	path = files/homes.desktop/elisp/grip-mode
	url = https://github.com/seagle0128/grip-mode

[submodule "files/homes.desktop/elisp/undo-tree"]
	path = files/homes.desktop/elisp/undo-tree
	url = https://gitlab.com/tsc25/undo-tree.git
