[submodule "files/etc/bash-git-prompt"]
	path = files/etc/bash-git-prompt
	url = git@github.com:spacelama/bash-git-prompt
	branch = timeout
[submodule "files/etc/bash-preexec"]
	path = files/etc/bash-preexec
	url = git@github.com:rcaloras/bash-preexec
[submodule "files/homes.desktop/elisp/grip-mode"]
	path = files/homes.desktop/elisp/grip-mode
	url = git@github.com:spacelama/grip-mode
[submodule "files/homes.desktop/elisp/undo-tree"]
	path = files/homes.desktop/elisp/undo-tree
	url = https://gitlab.com/tsc25/undo-tree.git
[submodule "repos/arcstat"]
	path = repos/arcstat
	url = git@github.com:spacelama/arcstat
[submodule "repos/ceph-nagios-plugins"]
	path = repos/ceph-nagios-plugins
	url = git@github.com:spacelama/ceph-nagios-plugins
	branch = python3
[submodule "repos/munin"]
	path = repos/munin
	url = git@github.com:spacelama/munin.git
	branch = tim_dev
[submodule "repos/munin-contrib"]
	path = repos/munin-contrib
	url = git@github.com:spacelama/munin-contrib.git
[submodule "repos/munin-smart-nvme"]
	path = repos/munin-smart-nvme
	url = git@github.com:spacelama/munin-smart-nvme
[submodule "files/homes.desktop/elisp/burly.el"]
	path = files/homes.desktop/elisp/burly.el
	url = git@github.com:alphapapa/burly.el
[submodule "files/homes.desktop/elisp/activities.el"]
	path = files/homes.desktop/elisp/activities.el
	url = git@github.com:alphapapa/activities.el
[submodule "repos/R710-Fan-Control"]
	path = repos/R710-Fan-Control
	url = git@github.com:spacelama/R710-Fan-Control.git
[submodule "repos/pve-nag-buster"]
	path = repos/pve-nag-buster
	url = git@github.com:foundObjects/pve-nag-buster.git
[submodule "repos/ansible-dkim"]
	path = repos/ansible-dkim
	url = git@github.com:spacelama/ansible-dkim.git
[submodule "files/homes.desktop/bin/bomradar"]
	path = files/homes.desktop/bin/bomradar
	url = git@github.com:spacelama/bomradar.git
[submodule "files/homes.desktop/.config/mpv/scripts/mpv-plugin-xrandr"]
	path = files/homes.desktop/.config/mpv/scripts/mpv-plugin-xrandr
	url = https://gitlab.com/lvml/mpv-plugin-xrandr
