---
- name: Install desktop tools
  apt:
# emacs-lucid for bug https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=567934 https://bugzilla.gnome.org/show_bug.cgi?id=85715
#FIXME: 'fvwm3'
    name: "{{ item }}"
#    FIXME: debian bookworm will want fvwm3
#    FIXME: this thread talks of fvwm3! https://www.linuxquestions.org/questions/slackware-14/wlroots-sway-xdg-desktop-portal-wlroots-and-other-third-position-wayland-window-mangers-for-slackware-users-4175705256/

#    FIXME: bookworm-next (trixie): elpa-activities
#    FIXME: disappeared? elpa-dictionary
# activities for buffer workspace management: https://www.reddit.com/r/emacs/comments/1aof1i2/release_v05_activitiesel_activities_for_emacs/ https://github.com/alphapapa/activities.el https://www.reddit.com/r/emacs/comments/1er668x/til_emacs_registers_this_is_a_god_send_for_my_day

#    FIXME: run `tuned-adm profile *-powersave` or perhaps `tuned-adm profile virtual-guest/virtual-host` # https://www.reddit.com/r/Proxmox/comments/uc53m7/4port_j4125_pc_how_to_run_proxmox_with_lowpower/

#    FIXME: if ever move over to wayland, make sure waypipe is installed, possibly wlroots, wayvnc: https://wiki.archlinux.org/title/Wayland#Remote_display
#    FIXME: this thread reckons wayfire is somewhat configfurable like fvwm https://forums.gentoo.org/viewtopic-p-8666991.html?sid=7d9c2948cc3aea952ce0f6cd936d8f7f
#    FIXME: then finally, maybe you really can run fvwm under Xwayland: https://www.reddit.com/r/unixporn/comments/srb6km/labwcfvwm3_futureproofing_your_window_manager_a/

    update_cache: yes
    cache_valid_time: 3600
    autoremove: no
    state: present
    install_recommends: no
  become: true
  when: not (host_is_light_desktop | default(false))
  # FIXME: could encode preferred backports/non-backports into each of these lists independently:
  loop:
    - [ 'nfs-common', 'nfs4-acl-tools', 'afuse', 'sshfs', 'acl', 'ntfs-3g',
    'snapd',
    'plocate',
    'beep',
    'strace', 'lsof',
    'powertop', 'nvtop', 'dstat', 'darkstat', 'hwloc', 'diodon', 'xosview',
    'iperf3' ]

    - [ 'apt-file', 'dlocate', 'debian-goodies',
    'ansible', 'ansible-core',
    'bash-completion', 'ksh', 'shellcheck',
    'keychain', 'apg', 'pinentry-tty', 'pinentry-curses',
    'gnupg', 'cryptsetup', 'cryptsetup-initramfs', 'cryptmount',
    'picocom', 'ssh', 'ssh-askpass', 'sshuttle', 'sidedoor', 'rsync', 'telnet', 'net-tools', 'netcat-openbsd', 'bind9-dnsutils', 'tcpdump', 'bluetooth',
    'wget', 'curl', 'lynx', 'links', 'w3m', 'puf', 'alpine',
    'bat', 'exa', 'ripgrep', 'fd-find',
    'earlyoom', 'firejail', 'cgroup-tools',
    'procmail',
    'progress', 'colorized-logs', 'ansifilter', 'tree' ]

    - [ 'bc', 'ncal',
    'less', 'most',
    'man-db', 'pkg-config',
    'gcc', 'hpcc', 'src2tex', 'source-highlight',
    'vim', 'neovim', 'vim-pathogen',
    'miller', 'jq', 'yq', 'csvtool', 'libtime-duration-parse-perl', 'libtime-duration-perl',
    'dos2unix',
    'isag', 'pigz',
    'cvs',
    'git', 'git-gui', 'gitk', 'tig', 'gitweb', 'git-delta', 'git-extras', 'git-reintegrate', 'git-delete-merged-branches', 'mgitstatus', 'gh', 'grip' ]

    - [ 'fvwm', 'picom', 'menu', 'mesa-utils', 'xdg-desktop-portal-gnome',
    'dconf-cli',
    'xterm', 'xtermcontrol',
    'xdm', 'xorg', 'xinit', 'ddccontrol', 'xinput', 'gtk3-nocsd', 'inputplug',
    'x11-utils', 'xcb', 'autocutsel', 'xclip',
    'gxmessage', 'xpdf',
    'xscreensaver', 'xutils',
    'pavucontrol', 'qpwgraph',
    'x11-xserver-utils', 'x11-apps', 'x11-xkb-utils', 'xkbset', 'procmeter3', 'unclutter', 'pasystray', 'trayer', 'dunst', 'pnmixer', 'blueman', 'libegl1-mesa', 'desktop-file-utils',
    'gnuplot-qt',
    'tuxguitar', 'marble-qt',
    'xawtv', 'wmmoonclock',
    'xplanet', 'barrier' ]

    - [ 'abcde', 'cdrdao', 'asunder',
    'cups-client', 'printer-driver-all', 'openprinting-ppds',
    'chromium', 'firefox-esr', 'firefox-esr-l10n-en-gb', 'thunderbird',
    'mplayer', 'mencoder', 'vlc', 'ffmpeg', 'mpv', 'totem', 'xli', 'xloadimage', 'hsetroot', 'pqiv', 'gliv', 'imagemagick', 'exiftran',
    'hyphen-en-gb', 'hunspell-en-gb', 'hunspell-en-au', 'ibritish-insane', 'wbritish-insane', 'ispell', 'aspell', 'hunspell', 'dict',
    'libreoffice' ]

    - [ 'emacs', 'emacs-lucid', 'emacs-el', 'emacs-common-non-dfsg', 'mmm-mode', 'dh-elpa', 'dh-elpa-helper', 'dh-make-elpa',
    'elpa-apache-mode', 'elpa-async', 'elpa-bar-cursor', 'elpa-bind-key', 'elpa-bm', 'elpa-boxquote', 'elpa-browse-kill-ring',
    'elpa-bug-hunter', 'elpa-color-theme-modern', 'elpa-csv-mode', 'elpa-dash', 'elpa-debian-el', 'elpa-diff-hl',
    'elpa-diffview', 'elpa-diminish', 'elpa-dired-du', 'elpa-dired-quick-sort', 'elpa-dired-rsync', 'elpa-epl', 'elpa-eproject',
    'elpa-flycheck', 'elpa-package-lint-flymake', 'elpa-folding', 'elpa-ghub', 'elpa-git-commit', 'elpa-git-modes',
    'elpa-git-timemachine', 'elpa-gitattributes-mode', 'elpa-gitconfig-mode', 'elpa-gitignore-mode', 'elpa-gnuplot-mode',
    'elpa-go-mode', 'elpa-goto-chg', 'elpa-graphql', 'elpa-graphviz-dot-mode', 'elpa-helm', 'elpa-helm-core',
    'elpa-highlight-indentation', 'elpa-highlight-numbers', 'elpa-hl-todo', 'elpa-htmlize', 'elpa-hydra', 'elpa-initsplit',
    'elpa-jinja2-mode', 'elpa-let-alist', 'elpa-magit', 'elpa-magit-popup', 'elpa-markdown-mode', 'elpa-mutt-alias',
    'elpa-muttrc-mode', 'elpa-org', 'elpa-parent-mode', 'elpa-pcre2el', 'elpa-pdf-tools', 'elpa-pdf-tools-server',
    'elpa-perspective', 'elpa-php-mode', 'elpa-pkg-info', 'elpa-pod-mode', 'elpa-popup', 'elpa-powerline', 'elpa-puppet-mode',
    'elpa-rainbow-delimiters', 'elpa-rich-minority', 'elpa-s', 'elpa-seq', 'elpa-session', 'elpa-smart-mode-line',
    'elpa-smart-mode-line-powerline-theme', 'elpa-systemd', 'elpa-tabbar', 'elpa-tablist', 'elpa-treepy', 'elpa-undo-tree',
    'elpa-use-package', 'elpa-visual-regexp', 'elpa-wc-mode', 'elpa-web-mode', 'elpa-with-editor', 'elpa-world-time-mode',
    'elpa-yaml-mode', 'elpa-treemacs', 'elpa-treemacs-magit', 'elpa-emacs-dashboard', 'elpa-projectile', 'elpa-treemacs-projectile' ]

    # 'synergy' has been taken over by 'barrier', which will be taken over by InputLeap after v2.4.0, xpra is a far better more modern alternative to Xnest, hwloc for lstopo amongst others, yq for xq for xml parsing ; abcde should hopefully replace my reliance on grip, xdg-desktop-portal-gnome because the gtk filechooser is awful

# debian bug #917931 wants either ibus removed (replaced with /home/tconnors/sysadmin/install/apt-source/ibus_1.5.23-1_all.deb ) or ibus-gtk3 installed and tested on chrome perhaps with GTK_IM_MODULE=ibus: https://github.com/ibus/ibus/issues/2073
# We remove ibus altogether , since it causes
# (recoverable) emacs keyboard lockups occasionally too:
# https://emacs.stackexchange.com/questions/52225/emacs-not-responding-to-keyboard-input
# ibus-daemon --xim -d -r
- name: Remove wayland, gnome etc
  apt:
    name: ['desktop-base', 'gnome', 'xwayland', 'hunspell-en-us', 'wamerican', 'iamerican', 'nautilus', 'evolution', 'evince', 'gnome-shell', 'gnome-software', 'gnome-terminal', 'gnome-backgrounds', 'gnome-online-miners', 'mutter', 'gnome-settings-daemon-common', 'gnome-keyring', 'gedit', 'gnome-themes-extra', 'gnome-accessibility-themes', 'ibus', 'ibus-gtk3', 'ibus-gtk', 'im-config', 'pinentry-gnome3', 'vim-gtk', 'vim-gtk3', 'xdg-desktop-portal-gtk', 'brasero', 'gvfs'] #brasero because it brings in gvfs, gvfs because I don't use it, it is fragile, and clutters up xdg-portal file picker chooser dialog
    state: absent
    autoremove: yes
    purge: yes
  become: true

- name: Kill stale xdg-desktop-portal-gtk processes
  command: "killall xdg-desktop-portal-gtk"
  register: killall_status
  changed_when: killall_status.rc == 0
  failed_when: false

- name: install preferred backported/non-backported packages
  apt:
    name: ['highlight', 'pipewire', 'pipewire-audio', 'pipewire-pulse', 'wireplumber', 'libspa-0.2-bluetooth', 'gthumb', 'solaar'] # libspa-0.2-bluetooth for pipewire bluetooth support
    # golang for direnv from git if necessasary
    # FIXME: emacs and/or emacs-gtk
    state: present
    default_release: "{{ host_has_backports | default(false) | ternary( deb_release ~ '-backports', omit ) }}"
  become: true
  when: not (host_is_light_desktop | default(false))

- name: install preferred backported/non-backported kernels if desired
  apt:
    name: ['linux-image-amd64', 'linux-base', 'linux-headers-amd64']
    state: present
    default_release: "{{ deb_release }}-backports"
  become: true
  when: (host_has_backports_kernel | default(false)) and
        (not (host_is_light_desktop | default(false)))

- name: install custom locally build desktop packages
  include_tasks: "{{ playbook_dir }}/roles/common/tasks/install_custom_packages.yml"
  vars:
    apt_preferences_hold_suffix: "-desktop"
    install_packages:
    - softbeep_0.3-18_amd64.deb # no longer in debian
    - libtiff5_4.2.0-1+deb11u5_amd64.deb # no longer in debian, needed by our build of qiv
    - { package: qiv, file: qiv_2.3.2-2_amd64.deb, freeze: "2.3.2-2" } # my additions
    - { package: zoom, file: patched_ibus_removed_zoom_amd64_6.1.11.deb, freeze: "6.1.11" } # zoom bring in a useless dependency on ibus: https://devforum.zoom.us/t/annoying-ibus-dependency-in-zoom-deb-files/67293/20
    - { package: wmtop, file: wmtop_0.84-7_amd64.deb, freeze: "0.84-7" }  # limit CPU wakeups
    - { package: tsocks, file: tsocks_1.8beta5+ds1-1_amd64.deb, freeze: "1.8beta5+ds1-1" } # debian bug #471112
    - { package: libglib1.2ldbl, file: libglib1.2ldbl_1.2.10-19_amd64.deb } # needed by gbuffy
    - { package: libgtk1.2-common, file: libgtk1.2-common_1.2.10-18.1_all.deb } # needed by gbuffy
    - { package: libgtk1.2, file: libgtk1.2_1.2.10-18.1_amd64.deb } # needed by gbuffy
    - { package: multiarch-support, file: multiarch-support_2.28-10_amd64.deb } # needed by gbuffy
    - { package: libssl1.0.0, file: libssl1.0.0_1.0.2k-1~bpo8+1_amd64.deb } # needed by gbuffy
    - { package: gbuffy, file: gbuffy_0.2.6-11_amd64.deb } # my port of an ancient but useful package
    - { package: picom, file: picom_11.2-0.1_amd64.deb } # backport from unstable, fixes #1053228
    - { package: libproc2-0, file: libproc2-0_4.0.4-6_amd64.deb } # backport from unstable, fixes #1091673
    - { package: procps, file: procps_4.0.4-6_amd64.deb } # backport from unstable, fixes #1091673
  when: not (host_is_light_desktop | default(false))

- name: Install radeon firmware
  apt:
    name: ['firmware-amd-graphics', 'radeontool', 'radeontop', 'firmware-linux-nonfree', 'libgl1-mesa-dri', 'libglx-mesa0', 'mesa-vulkan-drivers', 'xserver-xorg-video-all']
    cache_valid_time: 3600
    autoremove: no
    state: present
  when: host_has_radeon | default(false)
  become: true

- name: "allow {{ admin_user }} shell to linger"
  command:
    cmd: "loginctl enable-linger {{ admin_user }}"
    creates: "/var/lib/systemd/linger/{{ admin_user }}"
  become: true

- name: set up bluetooth experimental settings (eg headset battery level)
  copy:
    src: etc/systemd/system/bluetooth.service.d/override.conf
    dest: /etc/systemd/system/bluetooth.service.d/
  become: true
  notify: restart bluetooth
  when: not (host_is_light_desktop | default(false))

  # https://www.reddit.com/r/linuxadmin/comments/fbfc6w/how_to_wrap_my_firefox_process_in_a_cgroup_to/
  # https://lists.luv.asn.au/pipermail/luv-main/2020-December/011334.html (firejail other suggestion)
- name: Setup earlyoom for desktops (unset default)
  lineinfile:
    dest: /etc/default/earlyoom
    backrefs: yes
    regexp: '^EARLYOOM_ARGS="-r 60"$'
    line: "#EARLYOOM_ARGS=\"-r 60\"\nEARLYOOM_ARGS=TEMPLATE_XXX"
    state: present
  become: true
  when: not (host_is_light_desktop | default(false))

- name: Setup earlyoom for desktops
  lineinfile:
    dest: /etc/default/earlyoom
    backrefs: yes
    regexp: '^EARLYOOM_ARGS='
    line: "EARLYOOM_ARGS=\"-r 60 --avoid '(^|/)(init|X|sshd)$' --prefer '(^Web Content|^Isolated Web Co|(^|/)(teams|firefox|firefox-esr|chromium|chrome|spotify|vivaldi-bin))$'\""
    state: present
  become: true
  notify: restart earlyoom
  when: not (host_is_light_desktop | default(false))

# FIXME: /proc/sys/vm/swappiness = 0 on large memory desktops with
# SSD?.  On 2022/02/23, dirac was actively registering 30MB/s so and
# si in vmstat, despite having 9GB of free RAM

#FIXME: at some point, guest required amdgpu.dc=0 on the kernel commandline.

- name: Make sure all handlers run
  meta: flush_handlers
