#http://idnotfound.wordpress.com/2009/05/09/word-by-word-diffs-in-git/
*.gz	diff=gzip
*.pdf	diff=pdf
*.ps    diff=ps
*.doc	diff=doc
*.rtf	diff=doc
# things like bash, tex etc configs are predefined according to gitattributes(5), so enable them:
*.sh    diff=bash
*.c     diff=cpp
*.md    diff=markdown
*.pl    diff=perl
*.php   diff=php
*.py    diff=python
*.rb    diff=ruby
*.rs    diff=rust
*.tex	diff=tex
*.vault.yml diff=ansible-vault merge=binary
