---
# copies a file to .name, from .source, defaulting to homes/<name> if
# .source isn't provided

- name: "install file: '{{ dir_file_or_template.name }}' from '{{ source }}'"
  copy:
    dest: "{{ dir_file_or_template.name | default(('/' ~ dir_file_or_template) | dirname) }}"
    owner: "{{ dir_file_or_template.user | default(omit) }}"
    group: "{{ dir_file_or_template.group | default(omit) }}"
    src: "{{ source }}"
    local_follow: "{{ dir_file_or_template.local_follow | default(omit) }}"
    follow: "{{ dir_file_or_template.follow | default(omit) }}"
    mode: "{{ dir_file_or_template.mode | default(omit) }}"
    directory_mode: "{{ dir_file_or_template.directory_mode | default(omit) }}"
  become: "{{ dir_file_or_template.become | default(true) }}"
  notify: "{{ dir_file_or_template.notify | default(omit) }}"
