auto lo
iface lo inet loopback

iface lan0 inet manual

auto vmbr0
iface vmbr0 inet static
        address {{ inet_addr }}/24
        gateway 192.168.1.254
        bridge-ports lan0
        bridge-stp off
        bridge-fd 0

#iface wlp5s0 inet manual
#iface eno2 inet manual
