{% if host_is_pve_server is defined %}
{%     set rw = 'ro' %}
{%     set tconnors_mount = '/net/fs/home/tconnors' %}
{% else %}
{%     set rw = 'rw' %}
{%     set tconnors_mount = '/home/tconnors' %}
{% endif %}
{% if inventory_hostname != 'fs' %}
{{ tconnors_mount }}/thesis -hard,noacl,nodev,nosuid,{{ rw }},strictatime,async fs:/home/tconnors/thesis
{{ tconnors_mount }}/photos -hard,noacl,nodev,nosuid,{{ rw }},strictatime,async fs:/home/tconnors/photos
{%     if host_is_pve_server is not defined %}
{{ tconnors_mount }}/p -hard,noacl,nodev,nosuid,{{ rw }},strictatime,actimeo=600,async fs:/home/tconnors/p
{{ tconnors_mount }}/movies -hard,noacl,nodev,nosuid,{{ rw }},strictatime,async fs:/home/tconnors/movies
{{ tconnors_mount }}/mp3 -hard,noacl,nodev,nosuid,{{ rw }},strictatime,async fs:/home/tconnors/mp3
{{ tconnors_mount }}/.mp3.low_qual -hard,noacl,nodev,nosuid,{{ rw }},strictatime,async fs:/home/tconnors/.mp3.low_qual
{{ tconnors_mount }}/background -hard,noacl,nodev,nosuid,{{ rw }},strictatime,async fs:/home/tconnors/background
{{ tconnors_mount }}/qBT_dir -hard,noacl,nodev,nosuid,{{ rw }},strictatime,async fs:/home/tconnors/qBT_dir
{{ tconnors_mount }}/not_backed_up -hard,noacl,nodev,nosuid,{{ rw }},strictatime,async fs:/home/tconnors/not_backed_up
{{ tconnors_mount }}/not_backed_up.tank -hard,noacl,nodev,nosuid,{{ rw }},strictatime,async fs:/home/tconnors/not_backed_up.tank
{{ tconnors_mount }}/oppo -hard,noacl,nodev,nosuid,{{ rw }},strictatime,async fs:/home/tconnors/oppo
{{ tconnors_mount }}/pixel -hard,noacl,nodev,nosuid,{{ rw }},strictatime,async fs:/home/tconnors/pixel
{# FIXME: make /var/cache/apt/archives symlink for those that can contact fs #}
/var/cache/apt/archives.nfs -hard,noacl,nodev,nosuid,{{ rw }},strictatime,async fs:/var/cache/apt/archives
{%     endif %}
{% endif %}

{% if (inventory_hostname != 'pi') and (host_is_pve_server is not defined) %}
/pi/boot -hard,noacl,nodev,nosuid,{{ rw }},strictatime,async pi:/pi/boot
{% endif %}
{% if (inventory_hostname != 'pi') and (inventory_hostname != 'iot') and (host_is_not_ext_web_server is not defined) and (host_is_pve_server is not defined) %}
{{ tconnors_mount }}/public_html -hard,noacl,nodev,nosuid,{{ rw }},strictatime,async iot:/home/tconnors/global_public_html
{% endif %}

{# commented out:
  # -o fsc comes from /usr/share/doc/cachefilesd/howto.txt.gz

  #/backuppc -hard,noacl,nodev,nosuid,{{ rw }},async fs:/backuppc
  #{{ tconnors_mount }}/sysadmin -hard,noacl,nodev,nosuid,{{ rw }},strictatime,async fs:/home/tconnors/sysadmin
  #/var/spool/news -hard,noacl,nodev,nosuid,{{ rw }},strictatime,async fs:/var/spool/news

  ##{{ tconnors_mount }}/movies/kaffeine -fstype=nfs4,hard,noacl,nodev,nosuid,{{ rw }},strictatime,async fs:/home/tconnors/movies/kaffeine
  #/var/sid-386-chroot -hard,noacl,nodev,nosuid,{{ rw }},strictatime,async fs:/raid0/data/_NAS_NFS_Exports_/sid-386-chroot
#}
