{% if inventory_hostname != 'fs' %}
{%   if host_is_desktop | default(false) %}
/home/tconnors/p -hard,noacl,nodev,nosuid,rw,strictatime,actimeo=600,async fs:/home/tconnors/p
{%   endif %}
{# FIXME: make /var/cache/apt/archives symlink for those that can contact fs #}
/var/cache/apt/archives.nfs -hard,noacl,nodev,nosuid,rw,strictatime,async fs:/var/cache/apt/archives
{% endif %}

{% if (inventory_hostname != 'pi') and (inventory_hostname != 'iot') and (host_is_mgmt | default(false)) %}
/piroot -hard,noacl,nodev,nosuid,rw,strictatime,async iot:/piroot
{% endif %}
{% if (inventory_hostname != 'pi') and (host_is_mgmt | default(false)) %}
/piroot/boot/firmware -hard,noacl,nodev,nosuid,rw,strictatime,async pi:/boot/firmware
{% endif %}

{# commented out:
  # -o fsc comes from /usr/share/doc/cachefilesd/howto.txt.gz

  # /home/tconnors/mp3 -hard,noacl,nodev,nosuid,rw,strictatime,async fs:/home/tconnors/mp3
  #/backuppc -hard,noacl,nodev,nosuid,rw,async fs:/backuppc
  #/home/tconnors/sysadmin -hard,noacl,nodev,nosuid,rw,strictatime,async fs:/home/tconnors/sysadmin
  #/var/spool/news -hard,noacl,nodev,nosuid,rw,strictatime,async fs:/var/spool/news

  ##/home/tconnors/movies/kaffeine -fstype=nfs4,hard,noacl,nodev,nosuid,rw,strictatime,async fs:/home/tconnors/movies/kaffeine
  #/var/sid-386-chroot -hard,noacl,nodev,nosuid,rw,strictatime,async fs:/raid0/data/_NAS_NFS_Exports_/sid-386-chroot
  # /home/tconnors/qBT_dir -hard,noacl,nodev,nosuid,rw,strictatime,async fs:/home/tconnors/qBT_dir
  # /home/tconnors/not_backed_up -hard,noacl,nodev,nosuid,rw,strictatime,async fs:/home/tconnors/not_backed_up
#}

{# FIXME: might need wsize and rsize to not run out memory with mount/umount cycles: https://www.spinics.net/lists/ceph-users/msg60621.html #}
{% if mount_ceph_clients | default(false) %}
{%   for mount in ceph_client_mounts %}
{{     mount.mount }} -fstype=ceph,name={{ mount.name }},mds_namespace={{ mount.mds_namespace }},{{ mount.options }} {{ mount.mons }}:{{ mount.remote_path }}
{%   endfor %}
{% endif %}
