{% if inventory_hostname != 'fs' %}
/home/tconnors/p -hard,noacl,nodev,nosuid,rw,strictatime,actimeo=600,async fs:/home/tconnors/p
/home/tconnors/mp3 -hard,noacl,nodev,nosuid,rw,strictatime,async fs:/home/tconnors/mp3
/home/tconnors/.mp3.low_qual -hard,noacl,nodev,nosuid,rw,strictatime,async fs:/home/tconnors/.mp3.low_qual
/home/tconnors/background -hard,noacl,nodev,nosuid,rw,strictatime,async fs:/home/tconnors/background
/home/tconnors/qBT_dir -hard,noacl,nodev,nosuid,rw,strictatime,async fs:/home/tconnors/qBT_dir
/home/tconnors/not_backed_up -hard,noacl,nodev,nosuid,rw,strictatime,async fs:/home/tconnors/not_backed_up
/home/tconnors/not_backed_up.tank -hard,noacl,nodev,nosuid,rw,strictatime,async fs:/home/tconnors/not_backed_up.tank
/home/tconnors/oppo -hard,noacl,nodev,nosuid,rw,strictatime,async fs:/home/tconnors/oppo
/home/tconnors/pixel -hard,noacl,nodev,nosuid,rw,strictatime,async fs:/home/tconnors/pixel
{# FIXME: make /var/cache/apt/archives symlink for those that can contact fs #}
/var/cache/apt/archives.nfs -hard,noacl,nodev,nosuid,rw,strictatime,async fs:/var/cache/apt/archives
{% endif %}

{% if inventory_hostname != 'pi' %}
/pi/boot -hard,noacl,nodev,nosuid,rw,strictatime,async pi:/pi/boot
{% endif %}

{# commented out:
  # -o fsc comes from /usr/share/doc/cachefilesd/howto.txt.gz

  #/backuppc -hard,noacl,nodev,nosuid,rw,async fs:/backuppc
  #/home/tconnors/sysadmin -hard,noacl,nodev,nosuid,rw,strictatime,async fs:/home/tconnors/sysadmin
  #/var/spool/news -hard,noacl,nodev,nosuid,rw,strictatime,async fs:/var/spool/news

  ##/home/tconnors/movies/kaffeine -fstype=nfs4,hard,noacl,nodev,nosuid,rw,strictatime,async fs:/home/tconnors/movies/kaffeine
  #/var/sid-386-chroot -hard,noacl,nodev,nosuid,rw,strictatime,async fs:/raid0/data/_NAS_NFS_Exports_/sid-386-chroot
#}

{# FIXME: might need wsize and rsize to not run out memory with mount/umount cycles: https://www.spinics.net/lists/ceph-users/msg60621.html #}
{% if mount_ceph_clients is defined %}
{%   for mount in ceph_client_mounts %}
{{ mount.mount }} -fstype=ceph,name={{ mount.name }},mds_namespace={{ mount.mds_namespace }},{{ mount.options }} {{ mount.mons }}:{{ mount.remote_path }}
{%   endfor %}
{% endif %}
