192.168.1.249 switch
192.168.1.254 gateway
192.168.1.254 gw
192.168.1.246 b1300
192.168.1.253 wavlink
192.168.1.252 asusrtax53u
192.168.1.251 archerd7
192.168.1.250 archerc7
192.168.1.243 archerc72
192.168.1.248 billion
192.168.1.247 huawei
192.168.1.245 ap1
192.168.1.244 ap2
{#
  pve entries are to ensure reverse DNS is correct (even though
  that IP is already defined in DHCP reservations, for the sake of
  DHCP MAC mappings; since these hosts don't request DHCP, they don't
  show up in DNS reverse mappings)
#}
192.168.1.6 pve2
192.168.1.7 pve3
192.168.1.8 pve1

{#
  And our pve loadbalancer on webserver that forwards onto
  pve1,pve2,pve3.  We could have also just done it here by assigning
  all three nodes to DNS and sharing SSL certs, but that would be
  suboptimal when there's an outage. See also:
  https://github.com/lae/ansible-role-proxmox/blob/develop/tasks/ssl_config.yml
#}
{#
  Although we actually end up implementing this through CNAMEs in
  dhcp.reservation so that DNS reverse lookup doesn't return a
  misleading representation of what 192.168.1.18 actually is...
#}
# 192.168.1.18 pve
