
config lldpd 'config'
	option enable_cdp '1'
	option enable_fdp '1'
	option enable_sonmp '1'
	option enable_edp '1'
	option lldp_class '4'
	option lldp_location 'address country EU'
	option enabled '1'
	option lldp_capability_advertisements '1'
	option lldp_mgmt_addr_advertisements '1'
	option lldp_tx_interval '30'
	option lldp_tx_hold '4'
	option readonly_mode '0'
	option lldp_portidsubtype 'macaddress'
	option lldp_agenttype 'nearest-bridge'
	option cdp_version 'cdpv1v2'
	list interface 'br-LAN1'
	list interface 'br-LANGUEST3'
	list interface 'br-LANIOT4'
	list interface 'br-LANWINDOWS7'
	list interface 'br-MGMT'
	list interface 'eth0'

