# m h  dom mon dow   command

0 4 * * * /root/bin/log-daily-config
# 0 * * * * echo 3 > /proc/sys/vm/drop_caches

#@reboot /root/bin/log-daily-config

{% if type == 'router' %}
15 06 * * * /etc/init.d/banip reload
{% endif %}
