
config defaults
	option input 'ACCEPT'
	option output 'ACCEPT'
	option forward 'REJECT'
	option drop_invalid '1'
	option synflood_protect '1'

config zone
	option name 'lan'
	option network 'LAN1'
	option input 'ACCEPT'
	option output 'ACCEPT'
	option forward 'ACCEPT'

config zone
	option name 'GUESTLAN'
	option network 'LANGUEST3'
	option input 'ACCEPT'
	option output 'ACCEPT'
	option forward 'ACCEPT'
	option log '1'

config zone
	option name 'WINDOWSLAN'
	option network 'LANWINDOWS7'
	option input 'ACCEPT'
	option output 'ACCEPT'
	option forward 'ACCEPT'

config zone
	option name 'IOTLAN'
	option network 'LANIOT4'
	option input 'ACCEPT'
	option output 'ACCEPT'
	option forward 'ACCEPT'
	option log '1'

config zone
	option name 'wan'
	option network 'wan6 wan'
	option input 'REJECT'
	option output 'ACCEPT'
	option forward 'REJECT'
	option masq '1'
	option mtu_fix '1'

config forwarding
	option src 'lan'
	option dest 'wan'

config forwarding
	option src 'GUESTLAN'
	option dest 'wan'

config forwarding
	option src 'lan'
	option dest 'GUESTLAN'

config forwarding
	option src 'lan'
	option dest 'IOTLAN'

config forwarding
	option src 'WINDOWSLAN'
	option dest 'wan'

config forwarding
	option src 'WINDOWSLAN'
	option dest 'IOTLAN'

config forwarding
	option src 'lan'
	option dest 'WINDOWSLAN'

config forwarding
	option src 'IOTLAN'
	option dest 'wan'

config rule
	option name 'Allow-DHCP-Renew'
	option src 'wan'
	option proto 'udp'
	option family 'ipv4'
	option target 'ACCEPT'
	option dest_port '68'

config rule
	option name 'Allow-Ping'
	option src 'wan'
	option proto 'icmp'
	option icmp_type 'echo-request'
	option family 'ipv4'
	option target 'ACCEPT'

config rule
	option name 'Allow-IGMP'
	option src 'wan'
	option proto 'igmp'
	option family 'ipv4'
	option target 'ACCEPT'

config rule
	option name 'Allow-DHCPv6'
	option src 'wan'
	option src_ip 'fc00::/6'
	option proto 'udp'
	option family 'ipv6'
	option target 'ACCEPT'
	option dest_ip 'fc00::/6'
	option dest_port '546'

config rule
	option name 'Allow-MLD'
	option src 'wan'
	option src_ip 'fe80::/10'
	option proto 'icmp'
	list icmp_type '130/0'
	list icmp_type '131/0'
	list icmp_type '132/0'
	list icmp_type '143/0'
	option family 'ipv6'
	option target 'ACCEPT'

config rule
	option name 'Allow-ICMPv6-Input'
	option src 'wan'
	option proto 'icmp'
	list icmp_type 'echo-request'
	list icmp_type 'echo-reply'
	list icmp_type 'destination-unreachable'
	list icmp_type 'packet-too-big'
	list icmp_type 'time-exceeded'
	list icmp_type 'bad-header'
	list icmp_type 'unknown-header-type'
	list icmp_type 'router-solicitation'
	list icmp_type 'neighbour-solicitation'
	list icmp_type 'router-advertisement'
	list icmp_type 'neighbour-advertisement'
	option limit '1000/sec'
	option family 'ipv6'
	option target 'ACCEPT'

config rule
	option name 'Allow-ICMPv6-Forward'
	option src 'wan'
	option proto 'icmp'
	list icmp_type 'echo-request'
	list icmp_type 'echo-reply'
	list icmp_type 'destination-unreachable'
	list icmp_type 'packet-too-big'
	list icmp_type 'time-exceeded'
	list icmp_type 'bad-header'
	list icmp_type 'unknown-header-type'
	option limit '1000/sec'
	option family 'ipv6'
	option target 'ACCEPT'
	option dest '*'

config rule
	option name 'Drop IOT devices that have been stuck on main LAN (eg 192.168.1.127 broadlink)'
	option src 'lan'
	list src_mac 'BC:D0:74:43:8D:03'
	list proto 'all'
	option target 'DROP'
	option dest 'wan'
	option enabled '0'

config rule
	option name 'Drop IOT devices that are not trusted for external usage (eg 192.168.4.126 panasonic-tv, onti switch 1)'
	option src 'IOTLAN'
	list src_mac '24:EC:99:7B:F5:59'
	list src_mac '8C:1F:64:9A:C8:EC'
	option proto 'all'
	option target 'DROP'
	option dest 'wan'

config rule
	option name 'Drop pixel watch that binds to wrong network (IOT)'
	option src 'IOTLAN'
	list src_mac '26:48:A7:DD:10:FA'
	list src_mac 'FE:C1:C1:C5:30:E7'
	list src_mac 'F2:18:24:D9:C9:33'
	list src_mac '1E:5D:0C:91:28:50'
	option proto 'all'
	option target 'DROP'

config rule
	option name 'Drop pixel watch that binds to wrong network (GUEST)'
	option src 'GUESTLAN'
	list src_mac '26:48:A7:DD:10:FA'
	list src_mac 'FE:C1:C1:C5:30:E7'
	list src_mac 'F2:18:24:D9:C9:33'
	list src_mac '1E:5D:0C:91:28:50'
	option proto 'all'
	option target 'DROP'

config rule
	option name 'Drop pixel watch that binds to wrong network (WINDOWS)'
	option src 'WINDOWSLAN'
	list src_mac '26:48:A7:DD:10:FA'
	list src_mac 'FE:C1:C1:C5:30:E7'
	list src_mac 'F2:18:24:D9:C9:33'
	list src_mac '1E:5D:0C:91:28:50'
	option proto 'all'
	option target 'DROP'

config rule
	option name 'Allow-IPSec-ESP'
	option src 'wan'
	option proto 'esp'
	option target 'ACCEPT'
	option dest 'lan'

config rule
	option name 'Allow-ISAKMP'
	option src 'wan'
	option proto 'udp'
	option target 'ACCEPT'
	option dest 'lan'
	option dest_port '500'

config include
	option path '/etc/firewall.user'

config redirect
	option name 'http.webserver.windows'
	option src 'WINDOWSLAN'
	option src_dport '80'
	option src_dip '122.199.47.107'
	list proto 'tcp'
	option target 'DNAT'
	option dest 'lan'
	option dest_ip '192.168.1.18'
	option dest_port '80'

config redirect
	option name 'https.webserver.windows'
	option src 'WINDOWSLAN'
	option src_dport '443'
	option src_dip '122.199.47.107'
	list proto 'tcp'
	option target 'DNAT'
	option dest 'lan'
	option dest_ip '192.168.1.18'
	option dest_port '443'

config redirect
	option name 'http.webserver.wan'
	option src 'wan'
	option src_dport '80'
	list proto 'tcp'
	option target 'DNAT'
	option dest 'lan'
	option dest_ip '192.168.1.18'
	option dest_port '80'

config redirect
	option name 'https.webserver.wan'
	option src 'wan'
	option src_dport '443'
	list proto 'tcp'
	option target 'DNAT'
	option dest 'lan'
	option dest_ip '192.168.1.18'
	option dest_port '443'

config redirect
	option name 'ssh.dirac'
	option src 'wan'
	option src_dport '2228'
	list proto 'tcp'
	option target 'DNAT'
	option dest 'lan'
	option dest_ip '192.168.1.17'
	option dest_port '22'

config redirect
	option name 'ssh.iot'
	option src 'wan'
	option src_dport '2229'
	list proto 'tcp'
	option target 'DNAT'
	option dest 'lan'
	option dest_ip '192.168.1.3'
	option dest_port '22'

config redirect
	option name 'ssh.gamow'
	option src 'wan'
	option src_dport '2230'
	list proto 'tcp'
	option target 'DNAT'
	option dest 'lan'
	option dest_ip '192.168.1.20'
	option dest_port '22'

config redirect
	option name 'ssh.fermi'
	option src 'wan'
	option src_dport '2236'
	list proto 'tcp'
	option target 'DNAT'
	option dest 'lan'
	option dest_ip '192.168.1.36'
	option dest_port '22'

config redirect
	option name 'ssh.fs'
	option src 'wan'
	option src_dport '2234'
	list proto 'tcp'
	option target 'DNAT'
	option dest 'lan'
	option dest_ip '192.168.1.2'
	option dest_port '22'

config redirect
	option name 'qbittorrent.dirac'
	option src 'wan'
	option src_dport '50251'
	list proto 'tcp'
	list proto 'udp'
	option target 'DNAT'
	option dest 'lan'
	option dest_ip '192.168.1.17'
	option dest_port '50251'

config redirect
	option name 'smtp.mail'
	option src 'wan'
	option src_dport '25'
	list proto 'tcp'
	option target 'DNAT'
	option dest 'lan'
	option dest_ip '192.168.1.4'
	option dest_port '25'
	option enabled '0'

config rule
	option name 'windows-to-chromecast-5353'
	option src 'WINDOWSLAN'
	list proto 'tcp'
	list proto 'udp'
	option target 'ACCEPT'
	option dest '*'
	option dest_port '5353'

config rule
	option name 'windows-to-chromecast-1900'
	option src 'WINDOWSLAN'
	list proto 'tcp'
	list proto 'udp'
	option target 'ACCEPT'
	option dest '*'
	option dest_port '1900'

config rule
	option name 'windows-to-chromecast-5556-5558'
	option src 'WINDOWSLAN'
	list proto 'tcp'
	list proto 'udp'
	option target 'ACCEPT'
	option dest '*'
	option dest_port '5556-5558'

config rule
	option name 'windows-to-chromecast-1338'
	option src 'WINDOWSLAN'
	list proto 'tcp'
	list proto 'udp'
	option target 'ACCEPT'
	option dest '*'
	option dest_port '1338'

config rule
	option name 'windows-to-chromecast-multi'
	option src 'WINDOWSLAN'
	list proto 'tcp'
	list proto 'udp'
	option target 'ACCEPT'
	option dest '*'
	option dest_ip '224.0.0.0/4'

config rule
	option name 'iot-to-chromecast-5353'
	option src 'IOTLAN'
	list proto 'tcp'
	list proto 'udp'
	option target 'ACCEPT'
	option dest '*'
	option dest_port '5353'

config rule
	option name 'iot-to-chromecast-1900'
	option src 'IOTLAN'
	list proto 'tcp'
	list proto 'udp'
	option target 'ACCEPT'
	option dest '*'
	option dest_port '1900'

config rule
	option name 'iot-to-chromecast-5556-5558'
	option src 'IOTLAN'
	list proto 'tcp'
	list proto 'udp'
	option target 'ACCEPT'
	option dest '*'
	option dest_port '5556-5558'

config rule
	option name 'iot-to-chromecast-1338'
	option src 'IOTLAN'
	list proto 'tcp'
	list proto 'udp'
	option target 'ACCEPT'
	option dest '*'
	option dest_port '1338'

config rule
	option name 'iot-to-chromecast-multi'
	option src 'IOTLAN'
	list proto 'tcp'
	list proto 'udp'
	option target 'ACCEPT'
	option dest '*'
	option dest_ip '224.0.0.0/4'

config rule
	option name 'internal.windows-to-http'
	option src 'WINDOWSLAN'
	list proto 'tcp'
	option target 'ACCEPT'
	option dest '*'
	option dest_port '80'

config rule
	option name 'internal.windows-to-https'
	option src 'WINDOWSLAN'
	list proto 'tcp'
	option target 'ACCEPT'
	option dest '*'
	option dest_port '443'

config rule
	option name 'internal.iot-to-http'
	option src 'IOTLAN'
	list proto 'tcp'
	option target 'ACCEPT'
	option dest '*'
	option dest_port '80'

config rule
	option name 'internal.iot-to-https'
	option src 'IOTLAN'
	list proto 'tcp'
	option target 'ACCEPT'
	option dest '*'
	option dest_port '443'

config rule
	option name 'samba.137'
	option src 'WINDOWSLAN'
	list proto 'udp'
	option target 'ACCEPT'
	option dest 'lan'
	list dest_ip '192.168.1.2'
	option dest_port '137'

config rule
	option name 'samba.138'
	option src 'WINDOWSLAN'
	list proto 'udp'
	option target 'ACCEPT'
	option dest 'lan'
	list dest_ip '192.168.1.2'
	option dest_port '138'

config rule
	option name 'samba.139'
	option src 'WINDOWSLAN'
	list proto 'tcp'
	option target 'ACCEPT'
	option dest 'lan'
	list dest_ip '192.168.1.2'
	option dest_port '139'

config rule
	option name 'samba.445'
	option src 'WINDOWSLAN'
	list proto 'tcp'
	option target 'ACCEPT'
	option dest 'lan'
	list dest_ip '192.168.1.2'
	option dest_port '445'

config rule
	option name 'tmpblock'
	option src '*'
	list src_mac '14:CC:20:84:88:99'
	option target 'DROP'
	option dest '*'
	option enabled '0'

config redirect
	option name 'hassio-wireguard'
	option src 'wan'
	option src_dport '51820'
	list proto 'udp'
	option target 'DNAT'
	option dest 'lan'
	option dest_ip '192.168.1.90'

config rule
	option name 'block 53.GUEST'
	option src 'GUESTLAN'
	option target 'REJECT'
	option dest '*'
	option dest_port '53'

config rule
	option name 'block 53.IOT'
	option src 'IOTLAN'
	option target 'REJECT'
	option dest '*'
	option dest_port '53'

config rule
	option name 'block 53.WINDOWS'
	option src 'WINDOWSLAN'
	option target 'REJECT'
	option dest '*'
	option dest_port '53'

config rule
	option name 'block 53.LAN'
	option src 'lan'
	option target 'REJECT'
	option dest '*'
	option dest_port '53'
	option enabled '0'

config redirect
	option name 'fs-wireguard'
	option src 'wan'
	option src_dport '51821'
	list proto 'udp'
	option target 'DNAT'
	option dest 'lan'
	option dest_ip '192.168.1.2'

config zone
	option name 'MGMT'
	list network 'MGMT'
	option input 'REJECT'
	option output 'ACCEPT'
	option forward 'REJECT'

config forwarding
	option src 'lan'
	option dest 'MGMT'

config forwarding
	option src 'MGMT'
	option dest 'wan'

config redirect
	option name 'copy ecowitt to homeassistant'
	option src 'lan'
	option src_ip '192.168.1.99'
	option src_dport '8000'
	option target 'DNAT'
	option dest 'lan'
	option dest_ip '192.168.1.90'
	option dest_port '4199'
	option enabled '0'

config rule
	option name 'Barrier KVM'
	option src 'IOTLAN'
	list src_ip '192.168.4.39'
	option target 'ACCEPT'
	option dest 'lan'
	list dest_ip '192.168.1.17'
	option dest_port '24800'

config rule
	option name 'SMTP'
	option src 'WINDOWSLAN'
	list proto 'tcp'
	option target 'ACCEPT'
	option dest 'lan'
	list dest_ip '192.168.1.15'
	option dest_port '25'

config rule
	option name 'SMTPS'
	option src 'WINDOWSLAN'
	list proto 'tcp'
	option target 'ACCEPT'
	option dest 'lan'
	list dest_ip '192.168.1.15'
	option dest_port '465'

config rule
	option name 'syslog'
	option src 'WINDOWSLAN'
	list proto 'tcp'
	option target 'ACCEPT'
	option dest 'lan'
	list dest_ip '192.168.1.204'
	option dest_port '514'
